extends ./layout.jade
block container
	div
		h2 WFA
			img.logo(src="logo.png")
		h4 Web for Arduino
	.row
		.col.s12.center-align
			h5 CHOOSE LED
	.row.center-align
		
		.col.s4
			div.switch
				label Aire (9/GND)
					input#led9(type='checkbox')
					span.lever
		.col.s4
			div.switch
				label Luz (10/GND)
					input#led10(type='checkbox')
					span.lever
		.col.s4
			div.switch
				label Luz (11/GND)
					input#led11(type='checkbox')
					span.lever
	.row
		.col.s12
			.terminal
					
